

:root 
    --primary-color:#2a83ff

    --second-color: #59afff

    --accent-color: #feba02

    --bg-main: #ffffff
    --bg-sub: #f2f6fa
    --bg-dark: #666

    --text-basic: black
    --text-reverse: white

    --success-color: #27ae60
    --warning-color: #f39c12
    --error-color: #c0392b
    --info-color: #3498db


.dark-mode 

    --primary-color:#2a83ff

    --second-color: #40c6ff

    --accent-color: #feba02

    --bg-main: #333
    --bg-sub: #555
    --bg-dark: #777

    --text-basic: white
    --text-reverse: black
