

:root 
    --primary-color:#005fe5

    --accent-color: #feba02

    --bg-main: #ffffff
    --bg-sub: #eaf4ff
    --bg-dark: #777

    --text-basic: black
    --text-reverse: white

    --line-color: #e2e2e2

    --success-color: #27ae60
    --warning-color: #f39c12
    --error-color: #c0392b
    --info-color: #3498db


.dark-mode 

    --primary-color:#2a83ff

    --second-color: #40c6ff

    --accent-color: #feba02

    --bg-main: #333
    --bg-sub: #444
    --bg-dark: #777

    --text-basic: white
    --text-primary: black
